* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 0%);
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: hsl(0, 0%, 41%);
}

strong {
  color: hsl(100, 49%, 66%);
}

span {
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
}

input {
  padding-left: 2rem;
  height: 4rem;
  width: 40rem;
  border: none;
  border-radius: 1rem;
}

input:focus {
  outline: none;
}

/* Menu */

.navbar {
  margin: 3.93rem 6.5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2rem;
}

/* Menu */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.12rem;
}

.menu li, a {
  list-style-type: none;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
}

.menu a:hover {
  color: hsl(0, 0%, 47%);
}

.button {
  padding: 1rem 1.5rem;
  background-color: hsl(50, 99%, 54%);
  border-radius: 1rem;
  transition: 0.5s;
  text-transform: uppercase;
}

.button:hover {
  border-radius: 2rem;
  color: hsl(50, 99%, 54%) !important;
  background-color: hsl(0, 0%, 0%) !important;
}

/* Call To Action */

.container {
  margin: 3rem 6.5rem;
}

.call-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding-right: 35rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.description {
  margin-top: 2rem;
}

/* Companies */

.companies {
  padding: 5rem 5rem;
  margin-inline: 20rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(50, 99%, 54%);
  border-radius: 2rem 2rem 0rem 0rem;
}

.facebook,
.google,
.amazon,
.microsoft,
.linkedin {
  width: 15%;
  transition: 0.5s;
}

.facebook:hover,
.google:hover,
.amazon:hover,
.microsoft:hover,
.linkedin:hover {
  width: 25%;
}